
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .loader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        opacity: 1;
        transition: opacity 1s ease-out; /* Smooth fade out */
    }

    .loader-hidden {
        opacity: 0; /* Fade out effect */
        visibility: hidden; /* Hide after fade out */
    }

    .loader-logo {
        width: 150px;
        animation: slide 2s ease-in-out infinite;
    }

    .progress-bar-loader {
        position: relative;
        width: 70%;
        height: 10px;
        background-color: lightblue;
        margin-top: 20px;
        border-radius: 5px;
        overflow: hidden;
    }

    .progress-loader {
        background-color: blue;
        height: 100%;
        width: 0;
        animation: progress-animation 2s ease-in-out infinite;
        border-radius: 5px;
    }

    @keyframes slide {
        0% { transform: translateX(-100%); }
        50% { transform: translateX(0); }
        100% { transform: translateX(100%); }
    }

    @keyframes progress-animation {
        0% { width: 0; }
        50% { width: 100%; }
        100% { width: 0; }
    }

    @media (max-width: 768px) {
        .loader-logo { width: 100px; }
        .progress-bar { width: 60%; }
    }

    @media (max-width: 480px) {
        .loader-logo { width: 80px; }
        .progress-bar { width: 50%; }
    }
